<% content_for :title, "Editing category" %>

<h1>Editing category</h1>

<%= render "form", category: @category %>
<%= button_to "Delete", @category, method: :delete %>

<br>

<div>
  <%= link_to "Show this category", @category %> <br>
  <%= link_to "Back to categories", categories_path %>
</div>
