<% content_for :title, "Categories" %>

<h1>Categories:</h1>

<div>
  <% @categories.each do |category| %>
    <ul>
      <li style="font-size: 25px;"><%= category.name %></li>
      <span style="font-size: 18px;"><%= link_to "Show this category", category %></span>
    </ul>

  <% end %>

</div>
<br>
<%= link_to "View Tasks Today", tasksToday_path %>
<%= link_to "New category", new_category_path %>